<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BandexWeb</title>
    <link rel="stylesheet" href="static/global.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js" integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F" crossorigin="anonymous"></script>
    <script>
    function doLogin() {
      let loginInput = document.querySelector("#login");
      let login = loginInput.value;

      if (login == '') {
        alert("Login invalido: tente escrever algo");
      }

      htmx.ajax('POST', '/login', { values: { login }, target: ".login-container" }).then(function () {
        refilter();
      });
      return false;
    }

    function doLogout() {
      htmx.ajax('GET', '/login', { target: ".login-container" }).then(function () {
        refilter();
      })
      return false;
    }

    function doLoginOnEnter(event) {
      if (event.key == 'Enter') {
        event.preventDefault();
        doLogin();
      }
      return false;
    }

    function doLogoutOnEnter(event) {
      if (event.key == 'Enter') {
        event.preventDefault();
        doLogout();
      }
      return false;
    }

    function refilter() {
      let dateFilter = document.querySelector("#date");
      let menuTypeFilter1 = document.querySelector("#menu_type_1");
      let menuTypeFilter2 = document.querySelector("#menu_type_2");
      let loginInput = document.querySelector("#login");
      let login = loginInput.value;

      if (login == '' || !loginInput.disabled) {
        login = undefined;
      }

      let date = dateFilter.value;
      let menuTypes = [];
      if (menuTypeFilter1.checked) {
        menuTypes.push("Almoço")
      }
      if (menuTypeFilter2.checked) {
        menuTypes.push("Jantar")
      }
      menuTypes = menuTypes.join(";")
      htmx.ajax('GET', '/menu', { values: { date, menuTypes, login }, target: "#content" })
    }

    function setOpnion(name, liked, id) {
      let loginInput = document.querySelector("#login");
      let login = loginInput.value;

      if (login == '' || !loginInput.disabled) {
        alert("Faço login para definir suas preferências.")
        return;
      }

      if (liked === null) {
        htmx.ajax('DELETE', '/food-opnion', { values: {name, login, id}, target: `#food-opnion-${id}`})
      } else {
        htmx.ajax('POST', '/food-opnion', { values: {name, liked, login, id}, target: `#food-opnion-${id}`})
      }
    }

    document.addEventListener('DOMContentLoaded', function () {
      refilter();
    })
    </script>
  </head>
  <body>
    <main>
      <h1>BandexWeb</h1>
      <p>Veja o cardápio do dia!</p>
      <div class="login-container">
        <label for="login">Usuário:</label>
        <form class="login-sub-container">
          <input onkeydown="doLoginOnEnter(event);" type="text" id="login" name="login" required>
          <button onclick="doLogin(event);" id="login-button" type="button">Entrar</button>
        </form>
        <p>Cada usuário pode definir suas preferências de comida.</p>
      </div>
      <div class="filters">
        <h3>Filtros</h3>
        <h4>Semana</h4>
        <select name="date" id="date"  onchange="refilter()">
        {% for value, date in dates %}
          <option value="{{ value }}">{{ date }}</option>
        {% endfor %}
        </select>
        <h4>Tipo da refeição</h4>
        <div class="menu-type-container">
          <input type="checkbox" id="menu_type_1" name="menu_type_1" value="Almoço" onchange="refilter()"{{ " checked" if "Almoço" in menu_types else "" }}>
          <label for="menu_type_1">Almoço</label>
          <input type="checkbox" id="menu_type_2" name="menu_type_2" value="Jantar" onchange="refilter()"{{ " checked" if "Jantar" in menu_types else "" }}>
          <label for="menu_type_2">Jantar</label>
        </div>
      </div>
      <div id="content">
        Carregando...
    </main>
    </main>
  </body>
</html>
